@charset "UTF-8";   /*文字化け回避*/

html:before,
html:after,
body:before,
body:after {
  content: "";
  background: #f08d24;
  position: fixed;
  display: block;
  z-index: 1;
}

/* 上 */
html:before {
  height: 10px; 
  width: 100vw;
  left: 0;
  top: 0;
}

/* 右 */
html:after {
  width: 10px;
  height: 100vh;
  right: 0;
  top: 0;
}

/* 下 */
body:before {
  height: 10px;
  width: 100vw;
  bottom: 0;
  left: 0;
}

/* 左 */
body:after {
  width: 10px;
  height: 100vh;
  top: 0;
  left: 0;
}

/* ショートカット */
.shortcut{
  position: fixed;

  height: 500px;
  width: 200px;
  color: aquamarine;
}

/*  Youtubeリンク用  */
.video00 iframe {
  display: block;
  width: 50%;
  height: 50%;
  aspect-ratio: 16 / 9;
  margin: 0px auto;
}

/*ポートフォリオ*/
.portfolio{
  display: block;      /* １．aタグをブロック要素にしてmarginが効くようにする */
  width: fit-content;  /* ２．ブロック要素になり親要素いっぱいになった横幅をテキスト幅に合わせる */
  margin: 0 auto;      /* ３．左右中央寄せにする */
}

/* ブログ */
.blog{
  display: block;      /* １．aタグをブロック要素にしてmarginが効くようにする */
  width: fit-content;  /* ２．ブロック要素になり親要素いっぱいになった横幅をテキスト幅に合わせる */
  margin: 0 auto;      /* ３．左右中央寄せにする */
}

/*ホーム*/
.homepage h1{
  height: 100px;
  color: chocolate;

  text-align: center;
}

/* リンク類 */
.sitelink{
  flex-direction:column;
  position:fixed;
  bottom: 5%;
  right: 5%;
}

.xTimeline{
  position: fixed;
  top: 10px;
  right: 10px;
}

.contact{
  display: block;      /* １．aタグをブロック要素にしてmarginが効くようにする */
  width: fit-content;  /* ２．ブロック要素になり親要素いっぱいになった横幅をテキスト幅に合わせる */
  margin: 0 auto;      /* ３．左右中央寄せにする */
}